
pr: 
 - master
 - main

trigger: none

pool:
  name: Default

variables:
  JF_GIT_PROJECT: $(System.TeamProject)
  JF_GIT_REPO: 'maven-hello-azure'
  JF_GIT_BASE_BRANCH: $[ replace(variables['System.PullRequest.TargetBranch'], 'refs/heads/', '') ]  # main(マージ先)
  JF_GIT_BRANCH: $[ replace(variables['System.PullRequest.SourceBranch'], 'refs/heads/', '') ] # prするブランチ
  JF_GIT_PULL_REQUEST_ID: $(System.PullRequest.PullRequestNumber)
  JF_GIT_COMMIT: $(Build.SourceVersion)
  JF_GIT_OWNER: 'mikio-seto'
  JF_GIT_PROVIDER: 'github'
  GITHUB_JOB: 'azure-pipeline-job'
  GITHUB_WORKFLOW: 'azure-pipeline-wf'
  JFROG_CLI_LOG_LEVEL: DEBUG


jobs:
  - job:
    displayName: "Frogbot Scan Repository and Fix"
    steps:
       - task: PowerShell@2
         displayName: 'show params'
         inputs:
           targetType: 'inline'
           script: |
             echo v1
             echo Build.Repository.ID: $(Build.Repository.ID)
             echo Build.Repository.Name: $(Build.Repository.Name)
             echo System.TeamProject: $(System.TeamProject)
             echo System.PullRequest.SourceRepositoryURI: $(System.PullRequest.SourceRepositoryURI)
             echo System.PullRequest.TargetBranch: $(System.PullRequest.TargetBranch)
             echo System.PullRequest.SourceBranch: $(System.PullRequest.SourceBranch)
             echo System.PullRequest.PullRequestId: $(System.PullRequest.PullRequestId)
             echo Build.Repository.Uri: $(Build.Repository.Uri)
             echo Build.Repository.Name: $(Build.Repository.Name)
             echo Build.SourceBranchName: $(Build.SourceBranchName)
             echo Build.SourceBranch: $(Build.SourceBranch)
             echo Build.SourceVersion: $(Build.SourceVersion)
       - task: PowerShell@2
         displayName: 'Download and Run Frogbot'
         env:
            JF_URL: $(JF_URL)
            JF_ACCESS_TOKEN: $(JF_ACCESS_TOKEN)
            JF_GIT_TOKEN: $(JF_GIT_TOKEN)
            JF_RELEASES_REPO: 'mikios-releases-jfrog-io'
         inputs:
            targetType: 'inline'
            script: |
               if ([string]::IsNullOrEmpty($env:JF_RELEASES_REPO)) {
                   $url = "https://releases.jfrog.io/artifactory/frogbot/v2/[RELEASE]/frogbot-windows-amd64/frogbot.exe"
                   curl.exe -fLg $url -o frogbot.exe
               } else {
                   $url = "${env:JF_URL}/artifactory/${env:JF_RELEASES_REPO}/artifactory/frogbot/v2/[RELEASE]/frogbot-windows-amd64/frogbot.exe"
                   #curl.exe -fLg -H "Authorization: Bearer $(JF_ACCESS_TOKEN)" $url -o frogbot.exe
                   Invoke-WebRequest -Uri $url -Headers @{ "Authorization" = "Bearer $(JF_ACCESS_TOKEN)" } -OutFile "frogbot.exe"
               }
               .\frogbot spr
