
pr: none
trigger: none

pool:
  name: Default

variables:
  # Predefined Azure Pipelines variables. There's no need to modify them.
  JF_GIT_PROJECT: $(System.TeamProject)
  JF_GIT_REPO: $(Build.Repository.Name)
  JF_GIT_API_ENDPOINT: $(System.CollectionUri)
  JF_GIT_BASE_BRANCH: $(Build.SourceBranchName)
  JF_GIT_OWNER: $(System.TeamProject)
  JF_GIT_PROVIDER: 'azureRepos'

jobs:
  - job:
    displayName: "Frogbot Scan Repository and Fix"
    steps:
       - task: PowerShell@2
         displayName: 'Download and Run Frogbot'
         env:
            JF_URL: $(JF_URL)
            JF_ACCESS_TOKEN: $(JF_ACCESS_TOKEN)
            JF_GIT_TOKEN: $(JF_GIT_TOKEN)

         inputs:
            targetType: 'inline'
            script: |
               # 1. URLの組み立て
               if ([string]::IsNullOrEmpty($env:JF_RELEASES_REPO)) {
                   $getFrogbotScriptPath = "https://releases.jfrog.io"
               } else {
                   $getFrogbotScriptPath = "${env:JF_URL}/artifactory/${env:JF_RELEASES_REPO}"
               }

               # 2. curlでスクリプトを落として実行
               $url = "$getFrogbotScriptPath/artifactory/frogbot/v2/[RELEASE]/getFrogbot.sh"
               # Windowsでは .sh は直接動かないので、curlで落とした後にBashがなければ詰みます。
               # Frogbotがバイナリ(exe)を提供しているなら、それを落とすのが正解です。
               curl.exe -fLg $url -o getFrogbot.sh